 
  <div class="container-fluid mt-3">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            
          </tr>
        </thead>

         <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>            
            <td>
                <button class="btn btn-warning">Edit</button>&nbsp;
                <button class="btn btn-danger" style="background-color: red;">Delete</button>
                <input type="checkbox" aria-label="Checkbox for following text input">
            </td>

          </tr>          
        </tbody>
      </table>
  </div>
 